$mainFont: "ViaculturaPro-Normal";
$mainColor: #2b2b2b;
$hoverColor: #e89f38;
$fontWeight: 400;
$white: #ffffff;
$black: #000000;
$transition: all 0.3s ease;

$sideBarWidth: 384px;
$borderRadius: 12px;

$mobile-width: 600px;
$tablet-width: 1024px;
