.main-banner {
  &__wrap {
    width: 100%;
    .banner {
      @include adaptive-value("height", 780, 350, 1);
      position: relative;
      &__img {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        &::before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          z-index: 10;
        }
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &__content {
        position: absolute;
        z-index: 2;
        top: 28%;
        left: 10%;
        max-width: 550px;
        text-transform: uppercase;
        font-size: 33px;
        font-weight: 300;
        color: #fff;
        @include media(500) {
          left: 5%;
        }
      }
      &__title {
        @include adaptive-value("font-size", 50, 18, 1);
      }
      &__desc {
        text-transform: none;
        @include adaptive-value("font-size", 34, 16, 1);
        margin-top: 10px;
      }
      &__btn {
        @include adaptive-value("font-size", 18, 14, 1);
        border: 2px solid #fff;
        padding: 5px 10px;
        color: #fff;
        background: transparent;
        margin-top: 10px;
        font-family: inherit;
        cursor: pointer;
      }
    }
  }
  .swiper {
    &-pagination {
      position: relative;
      bottom: -2px !important;
      &-bullet {
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50px;
        padding: 0;
        opacity: 1;
        background-color: #efebe9;
        transition: $transition;
        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          width: 16px;
          height: 16px;
          border: 1px solid #333;
          border-radius: 50%;
          transform: scale(0) translate(-50%, -50%);
          transition: all 0.3s;
          transform-origin: center center;
        }
        &-active {
          background-color: #333;
          &::before {
            transform: scale(1) translate(-50%, -50%);
          }
        }
      }
    }
  }
}
