.search {
  &__input {
    position: absolute;
    left: 32%;
    top: 0;
    width: 70%;
    height: 100%;
    align-items: center;
    z-index: 100;
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
